[submodule "grafana"]
	path = grafana
	url = https://github.com/labbsr0x/bb-grafana
[submodule "bb-promster"]
	path = bb-promster
	url = https://github.com/labbsr0x/bb-promster
[submodule "libs/servlet-monitor"]
	path = libs/servlet-monitor
	url = https://github.com/labbsr0x/servlet-monitor
[submodule "libs/express-monitor"]
	path = libs/express-monitor
	url = https://github.com/labbsr0x/express-monitor
[submodule "libs/flask-monitor"]
	path = libs/flask-monitor
	url = https://github.com/labbsr0x/flask-monitor
[submodule "bot"]
	path = bot
	url = https://github.com/labbsr0x/bb-bot
[submodule "bb-alertmanager"]
	path = bb-alertmanager
	url = https://github.com/labbsr0x/bb-alertmanager
[submodule "bb-protocol"]
	path = bb-protocol
	url = https://github.com/labbsr0x/bb-protocol
[submodule "bb-manager"]
	path = bb-manager
	url = https://github.com/labbsr0x/bb-manager
