version: '3.5'

services:

  # big brother is defined below by a collection of services: bot, etcd, monitor and alertmanager

  bot:
    build:
      context: bot
      dockerfile: Dockerfile
    image: labbsr0x/big-brother-bot:latest
    environment:
      - ETCD_URLS=http://etcd:2379
      - TELEGRAM_TOKEN=<your telegram token>
      - DEBUG=*
    ports:
      - 3001:3000
    depends_on:
      - alertmanager
    volumes:
      - bot:/data

  etcd:
    image: quay.io/coreos/etcd:v3.2.25
    ports:
      - 2379
    environment:
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
  
  alertmanager:
    image: labbsr0x/big-brother-alertmanager
    build:
      dockerfile: Dockerfile
      context: alertmanager
    ports:
      - 9093:9093
    environment:
      - WEBHOOK_URL=http://bot:8080
    volumes:
      - alertmanager:/alertmanager

  monitor:
    image: labbsr0x/big-brother-monitor:latest
    build:
      dockerfile: Dockerfile
      context: monitor
    depends_on:
      - example-bb-promster
      - alertmanager
      - etcd
    ports:
      - 9090:9090
    environment:
      - BB_PROMSTER_LEVEL=1
      - ETCD_URLS=http://etcd:2379
      - ALERT_MANAGER_URLS=alertmanager:9093

  # below is defined the example setup for metric consumption by big brother

  example-service:
    image: abilioesteves/metrics-generator:latest
    ports:
      - 32865:32865
    environment:
      - REGISTRY_SERVICE=example-service
      - REGISTRY_ETCD_BASE=/metrics-generator
      - REGISTRY_ETCD_URL=http://example-etcd:2379
  
  example-etcd:
    image: quay.io/coreos/etcd:v3.2.25
    ports:
      - 2379
    environment:
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ADVERTISE_CLIENT_URLS=http://example-etcd:2379
  
  example-bb-promster:
    image: labbsr0x/bb-promster:latest
    depends_on:
      - example-etcd
      - example-service
    ports:
      - 9090
    environment:
      - REGISTRY_SERVICE=example-service
      - REGISTRY_ETCD_BASE=/metrics-generator
      - BB_PROMSTER_LEVEL=1
      - ETCD_URLS=http://example-etcd:2379
      - SCRAPE_ETCD_PATH=/metrics-generator/example-service

  example-bb-promster-grafana:
    image: labbsr0x/bb-promster:latest
    depends_on:
      - example-bb-promster
    ports:
      - 9091:9090
    environment:
      - REGISTRY_SERVICE=example
      - REGISTRY_ETCD_BASE=/metrics-generator
      - BB_PROMSTER_LEVEL=2
      - ETCD_URLS=http://example-etcd:2379
      - CLEAR_RR=true
  
  example-grafana:
    image: labbsr0x/big-brother-grafana:latest
    depends_on: 
      - example-bb-promster
    build:
      context: grafana
      dockerfile: Dockerfile
    environment: 
      - PROMETHEUS_URL=http://localhost:9091
      - PROMETHEUS_ACCESS_TYPE=direct
      - GF_SECURITY_ADMIN_USER=bigbrother
      - GF_SECURITY_ADMIN_PASSWORD=bigbrother
    depends_on:
      - monitor
    ports:
      - 3000:3000

  hydra:
    image: oryd/hydra:v1.3.2
    ports:
      - "4444:4444" # Public port
      - "4445:4445" # Admin port
    environment:
      - DSN=memory
      - URLS_SELF_ISSUER=https://localhost:4444/

  oathkeeper:
    image: oryd/oathkeeper:latest
    ports:
      - "4446:4446"
    environment:
      - DSN=memory
      - AUTHENTICATOR_OAUTH2_INTROSPECTION_URL=http://hydra:4445/oauth2/introspect
      - AUTHENTICATOR_OAUTH2_CLIENT_CREDENTIALS_TOKEN_URL=http://hydra:4444/oauth2/token

volumes:
  bot:
  alertmanager:

  



