global:
  scrape_interval:     {{.scrapeInterval}}
  scrape_timeout:      {{.scrapeTimeout}}
  evaluation_interval: {{.evaluationInterval}}

rule_files:
  - /rules.yml
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']

  - job_name: 'clients'
    metrics_path: /federate
    params:
      'match[]':
        - '{job=~"l.*"}'
        - '{__name__=~"dependency_up|up"}'
    file_sd_configs:
      - files: 
        - /servers.json

